body {
    font-family: Arial, sans-serif;
    background-color: #967bb6; /* Light purple background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container,
.signup-container,
.logout-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #967bb6; /* Purple heading color */
}

.signup-container h1 {
    font-size: 26px;
    color: #967bb6; /* Dark purple heading */
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

input:focus {
    border-color: #967bb6; /* Purple border color on focus */
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #967bb6; /* Purple button background */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #755a8c; /* Darker purple on hover */
}

.signup-link,
.login-link {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.signup-link a,
.login-link a {
    color: #967bb6; /* Purple link color */
    text-decoration: none;
}

.signup-link a:hover,
.login-link a:hover {
    text-decoration: underline;
}

/* Logout container specific styles */
.logout-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #967bb6; /* Purple heading color */
}

.logout-container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.logout-actions .btn {
    display: inline-block;
    text-decoration: none;
    background-color: #967bb6; /* Purple button color */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
}

.logout-actions .btn:hover {
    background-color: #755a8c; /* Darker purple on hover */
}
